<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profiles 2</title>
</head>
<body>
    <ul>
        {% for profile in profiles %} 
            <li><img scr="{{ profile.image.url }}" height="100" width="100" alt="missing image1"/></li>
         {% endfor %}
    </ul>

    <div><img scr="C:\Users\Parents\Django_courses_2\feedback\uploads\images\python-pandas_ISQIN8I.png" alt="missing image"/></div>

    <div><img scr="C:/Users/Parents/Django_courses_2/feedback/uploads/images/27094_3ecebd037d0e48248ae08246bddc547e_1556211385.jpeg" alt="missing image ouf"/></div>

</body>
</html>